<div id="jumbotron"><form name="gameForm" ng-submit="code.searchMongo(gameQuery.query);"><label>Game:</label><div class="row"><div class="col-xs-11"><input class="form-control" type="text" name="gamequery" ng-model="gameQuery.query" placeholder="Find and select a game" required></div><div class="col-xs-1"><button class="btn btn-primary" type="submit">Search</button></div></div></form><style>.demo-card-square.mdl-card {
      width: 250px;
      height: 400px;
    }
    .demo-card-square > .mdl-card__title {
      color: #fff;
    }</style><div id="queryResults" ng-repeat="game in code.queryResults"><style>.demo-card-square > .mdl-card__title {
      background:
        url('https://images.igdb.com/igdb/image/upload/t_cover_big/{{ game.cover.cloudinary_id }}') bottom right 15% no-repeat #46B6AC;
    }</style><div class="demo-card-square mdl-card mdl-shadow--2dp"><div class="mdl-card__title mdl-card--expand"><h2 class="mdl-card__title-text">{{ game.name }}</h2></div><div class="mdl-card__supporting-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.</div><div class="mdl-card__actions mdl-card--border"><a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">View Updates</a></div></div></div><div class="page-header"></div></div>