<div id="jumbotron">

  <form name="gameForm" ng-submit="code.searchMongo(gameQuery.query);">
    <label>Game:</label>
    <div class="row">
      <div class="col-xs-11">
        <input class="form-control" type="text" name="gamequery" ng-model="gameQuery.query" placeholder="Find and select a game" required/>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>

  <style>
    .demo-card-square.mdl-card {
      width: 250px;
      height: 400px;
    }
    .demo-card-square > .mdl-card__title {
      color: #fff;
    }
  </style>

  <div id="queryResults" ng-repeat="game in code.queryResults">
    <!-- <a ng-show="(!code.selectedGame)" ng-click="code.selectGame(game.details.id);">{{ game.name }}</a> -->
    <!-- <span>{{ game.name }} has {{ game.codesCount }} codes available!</span> -->

    <style>
    .demo-card-square > .mdl-card__title {
      background:
        url('https://images.igdb.com/igdb/image/upload/t_cover_big/{{ game.cover.cloudinary_id }}') bottom right 15% no-repeat #46B6AC;
    }
    </style>

    <div class="demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">{{ game.name }}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenan convallis.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>

    <!-- <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ game.cover.cloudinary_id }}" /> -->

</div>


<div class="page-header">

  <!-- <div class="row show-hide-message" ng-if="submitted">
    <div class="alert alert-success text-center">
      <button ng-click="submitClose();" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h5>Thanks for you submission! It will appear on the site once it has been approved by a mod.</h5>
      <span>This is to prevent weird entries showing up on the site.</span>
    </div>
  </div>

  <h1 ng-click="code.generatePreview('c8db7628-eb3d-c345-7fab-5d12d8dd4803');">Welcome to Wootopia!</h1>
  <h4>Here you can find, manage and share profile codes for the <a href="https://wooting.nl" target="_blank">Wooting One</a> analog keyboard.</h4>
  <p>
    Here you can share cool profiles that you've made. <strong>Submitted codes will not show up on the websites until approved by a mod.</strong>
  </p>
  <p>
    This website is currently in an alpha stage. Therefore some basic funtionality is still missing. Such as a searchbar and the ability to edit your submitted profile codes.
    This is all coming in the near future though.
    <strong>For now, please use ctrl + f to search for a specific game.</strong>
  </p>
  <h6>
    Want to report a bug, request a feature or contribute? Contact me <a class="link" href="https://twitter.com/superschek" target="_blank">@superschek</a> or <a class="link" href="mailto:sander@wootingprofiles.com">sander@wootingprofiles.com</a>.
  </h6>
</div> -->

<!-- <div>

  <div class="col-nopadding col-xs-12 col-sm-6">
    <div class="col-xs-12" ng-repeat="game in code.games | orderBy:'name'" ng-if="game.hasPublishedCode == true">
      <div id="{{ game._id }}" class="code-card">
        <h4 class="game-name">{{ game.name }}</h4>
        <div class="code" ng-repeat="code in game.codes" ng-if="code.published == true">
          <p ng-if="code.notes" class="notes">{{ code.notes }}</p>
          <div class="clipboard-wrap">
            <div class="code" id="code-{{ code._id }}">{{ code.code }}</div>
            <button ngclipboard data-clipboard-target="#code-{{ code._id }}" class="clipboard-btn"><i class="fa fa-clipboard"></i></button>
          </div>
          <h6 class="code-date">Date added: <strong>{{ code.created_at | date:'shortDate' }}</strong></h6>

          <div ng-include="'app/views/partials/keyboard.html'"></div>
          <br ng-if="!$last" />

        </div>
      </div>
    </div>
  </div>

</div> -->