<div class="page-header">
  <h2>Admin Dashboard</h2>
</div>

<div class="col-nopadding col-xs-12">
  <div class="col-xs-12" ng-repeat="game in codelist.games">

      <div class="code-card" ng-repeat="code in game.codes" ng-if="!code.published" ng-click="itemClicked(code._id)" style="background-color: #F1F1F1; border-radius: 2px; padding: 1px 8px;">
        <h4 class="game-name">{{ game.name }}</h4><span><a style="cursor: pointer;" ng-click="codelist.publishCode(game._id, code._id);">Publish</a> | <a ng-click="codelist.rejectCode(game._id, code._id);" style="cursor: pointer;">Reject</a></span>
        <p ng-if="code.notes" class="notes">{{ code.notes }}</p>
        <div class="code" id="code-{{ code._id }}">{{ code.code }}</div>
        <h6 class="code-date">Date added: <strong>{{ code.created_at | date:'shortDate' }}</strong></h6>
      </div>

  </div>
</div>
