<div class="page-header">
  <h1>Login</h1>
</div>

<form ng-submit="main.doLogin(loginData);">
  <label>Username:</label>
  <input class="form-control" type="text" name="username" placeholder="username" ng-model="main.loginData.username" />
  </br>

  <label>Password:</label>
  <input class="form-control" type="password" name="password" placeholder="password" ng-model="main.loginData.password" />
  </br>

  <button class="btn btn-primary" type="submit">Login</button>

</form>

</br>

<div class="jumbotron text-center" ng-show="main.loading">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>Loading...</p>
</div>

<div class="row show-hide-message" ng-show="main.successMsg">
  <div class="alert alert-success">{{ main.successMsg }}</div>
</div>

<div class="row show-hide-message" ng-show="main.errMsg">
  <div class="alert alert-danger">{{ main.errMsg }}</div>
</div>

<div class="row show-hide-message" ng-show="facebook.errMsg">
  <div class="alert alert-danger">{{ facebook.errMsg }}</div>
</div>

<div class="row show-hide-message" ng-show="twitter.errMsg">
  <div class="alert alert-danger">{{ twitter.errMsg }}</div>
</div>

<div class="row show-hide-message" ng-show="google.errMsg">
  <div class="alert alert-danger">{{ google.errMsg }}</div>
</div>
