<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <base href="/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="A place to find and share profile codes for your Wooting One.">
    <meta name="author" content="SuperSchek">

    <meta property="og:title" content="Wooting Profiles" />
    <meta property="og:description" content="A place to share and find profile codes for your Wooting One." />
    <meta property="og:url" content="http://www.wootingprofiles.com/" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Wooting Profiles" />
    <meta name="twitter:description" content="A place to share and find profile codes for your Wooting One." />

    <!-- Hotjar -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:592318,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <!-- Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-103790931-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- MDL Dependencies  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">    
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-blue.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <!-- Cascade Stylesheets -->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />

    <!-- Angular Main Files -->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-route.min.js"></script>
    <script src="assets/js/angular-animate.min.js"></script>

    <!-- Angular Config/Routes -->
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>

    <!-- angular Controllers -->
    <script src="app/controllers/userCtrl.js"></script>
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/controllers/codeCtrl.js"></script>
    <script src="app/controllers/gameCtrl.js"></script>

    <!-- Angular Services -->
    <script src="app/services/userservices.js"></script>
    <script src="app/services/authServices.js"></script>
    <script src="app/services/codeServices.js"></script>

    <!-- Lib -->
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script src="assets/js/ngclipboard.min.js"></script>
    <script async src="https://use.fontawesome.com/c2feeeafb3.js"></script>

    <!-- Scripts -->
    <script src="app/custom.js"></script>

    <title>Wootopia</title>

  </head>

  <body ng-app="wootingProfiles" ng-controller="mainCtrl as main" ng-show="main.loadme" ng-cloak>

    <!-- Fixed navbar -->
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <a class="navbar-brand" href="/">Wooting Profiles</a>
            <li ng-class="{ active: main.isCurrentPath('/') }"><a href="/">Home</a></li>
            <li ng-class="{ active: main.isCurrentPath('/submitcode') }"><a href="/submitcode">Submit Code</a></li>
            <li class="dropdown pull-right" ng-show="main.isLoggedIn">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi, {{ main.userdata.username }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/admin">Admin Dashboard</a></li>
                <li><a href="#" ng-click="main.logout();">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Wootopia</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">

          <div class="container" role="main">
            <div ng-view></div>
          </div>

        </div>
      </main>
    </div>

    <script src="assets/js/jquery-3.2.1.min.js"></script>
    </html>
  </body>
